
.middlewrapper{
  width: 730px;
  height: 69px;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 10px;

}

.darkmiddle{
  background-color: #1E2A47;
}

#leftdiv{
  width: 100%; 
  display: flex;
  align-items: center;
  column-gap: 15px;
  
}

#searchimg{
  width: 20px;
  height: 20px;
}

.search{
border: none;
outline: none;
width: 100%;
font-size: 18px;
color: #4B6A9B; 
text-transform: capitalize;
} 


::placeholder{
  font-size: 18px;
  color: #4B6A9B; 
  text-transform: capitalize;
}
.darksearch{
 background-color: transparent;
 color: #fff;
}

.darksearch::placeholder{
  color: #ffffff;
}

#rightdiv{
  all: unset;
  width: 106px;
  height: 50px;
  background-color: #0079FF;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center; 
  color : #ffffff;
  font-size: 16px;
  font-weight: bold;
  text-transform: capitalize;
  cursor: pointer;
}

/* #searchp{
  font-size: 16px;
  font-weight: bold;
  text-transform: capitalize;
  color: #fff;
} */

@media(max-width:500px){
  .middlewrapper{
    width: 400px;
    height: 60px;
  }
  #rightdiv{
    width: 84px;
    height: 46px;
    font-size: 14px;
  }
  /* #searchp{
    font-size: 14px;
  } */
  .search{
    font-size: 13px;
  }
}

